.button-containerr {
  display: flex;
  justify-content: center;
  margin-top: 20px; /* Add some margin between the buttons and the content above */
  width: fit-content; /* Set the container's width to fit the content */
  position: absolute; /* Use absolute positioning */
  top: 300px; /* Adjust the top position as needed */
  right: 650px; /* Adjust the right position as needed */
}

.custom-button {
  background-color: #3498db;
  color: #fff;
  border: none;
  padding: 10px 20px; /* Adjust the padding as needed */
  border-radius: 5px;
  cursor: pointer;
  margin: 5px; /* Add some margin between the buttons */
  transition: background-color 0.2s ease;
}

.custom-button:hover {
  background-color: #2980b9;
}
