/* CreateNew.css */
.main-content {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.main-content h2 {
  text-align: center;
  color: #3498db;
  font-size: 28px;
  margin-bottom: 20px;
}

.form-container {
  width: 100%; /* Set the form container to occupy all the available space */
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.form-group label {
  font-weight: bold;
  margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group input[type="date"],
.form-group input[type="time"],
.form-group textarea {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  box-sizing: border-box; /* Include padding and border in the total width */
  width: 100%; /* Set the input fields to occupy all the available space */
}

.form-group textarea {
  resize: vertical;
}

.form-group button {
  padding: 10px 16px;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  width: 100%;
}

.form-group button:hover {
  background-color: #2980b9;
}

