.latest-tenders {
  position: absolute;
  top: 500px;
  right: 400px;
  background-color: #f1f1f1;
  padding: 10px;
  border-radius: 10px;
  width: 900px; /* Adjust the width as per your requirement */
  overflow: hidden;
  white-space: nowrap; /* Prevent tenders from wrapping to a new line */
}

.latest-tenders h2 {
  text-align: center;
  color: #3498db;
  font-size: 24px;
  margin-bottom: 10px;
}

.tender-container {
  position: relative;
  animation: roll-left 20s linear infinite;
}

.tender-column {
  display: inline-block; /* Display tenders in a horizontal line */
  font-weight: bold;
  border-right: 1px solid #ccc;
  padding: 10px;
}

.tender-column:last-child {
  border-right: none;
}

.tender-info {
  margin-top: 10px;
}

.tender-info p {
  font-size: 12pt;
  line-height: 18.3pt;
  margin: 0;
}

.more {
  color: #3498db;
}

/* Keyframes for the roll-left animation */
@keyframes roll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
